<mat-grid-list cols={{nItemsInRow}} rowHeight="1:1.333" gutterSize=0.5rem id="gamegrid">
  <mat-grid-tile class="item">{{nItemsInRow}}</mat-grid-tile>
  <mat-grid-tile class="item">{{itemWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
  <mat-grid-tile class="item">{{innerWidth}}</mat-grid-tile>
</mat-grid-list>
