
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GameLibrary-light-primary: mat-palette($mat-blue, 600);
$GameLibrary-light-accent: mat-palette($mat-orange, A400, A100, A700);
$GameLibrary-light-warn: mat-palette($mat-red);
$GameLibrary-theme: mat-light-theme((
  color: (
    primary: $GameLibrary-light-primary,
    accent: $GameLibrary-light-accent,
    warn: $GameLibrary-light-warn,
  )
));


// Dark theme
$GameLibrary-dark-primary: mat-palette($mat-blue, 900);
$GameLibrary-dark-accent: mat-palette($mat-orange, A400, A200, A700);
$GameLibrary-dark-background: map_get($mat-blue-grey, 100);
$GameLibrary-theme-dark: mat-dark-theme((
  color: (
    primary: $GameLibrary-dark-primary,
    accent: $GameLibrary-dark-accent,
    warn: $GameLibrary-light-warn,
  )
));

//Custom background color
// $background: map-get($GameLibrary-theme-dark, background);
// $background: map_merge($background, (background:$GameLibrary-dark-background));
// $GameLibrary-theme-dark: map_merge($GameLibrary-theme-dark, (background:$background));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($GameLibrary-theme);

.theme-dark{
  @include angular-material-theme($GameLibrary-theme-dark);
}
